@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Inter&family=Open+Sans:wght@500&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

body {
    overscroll-behavior: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-track {
    background: #FCF4D7;
}

::-webkit-scrollbar-thumb {
    background: rgb(135, 134, 134);
}


/* Navbar */

.icon {
    margin-right: 4px;
    width: 20px;
    height: 20px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    padding: 1px 5px;
    transition: .2s;
}

.logo-icon {
    margin-right: 7px;
    width: 20px;
    height: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 5%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 30px 10px;
    padding-left: 20px;
}

#logo:hover {
    background-color: rgb(162, 66, 11);
    transform: scale(1.1);
}

#logo:hover .logo-text {
    color: white;
}

#logo:hover .logo-icon {
    fill: white;
}

nav h3 {
    cursor: pointer;
    color: black;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    margin-right: 50px;
}

.nav-li {
    display: flex;
    transition: all .2s;
    border-radius: 7px;
    padding: 3px 5px;
    align-items: center;
    justify-content: center;
}

.nav-link {
    font-weight: bold;
    color: black;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}

.nav-li:hover {
    transform: scale(1.1);
    background-color: rgb(162, 66, 11);
}

.nav-li:hover .nav-link {
    color: rgb(248, 245, 223); 
}

.nav-li:hover .icon {
    fill: white;
}


/* Body and Sections */

/* Home Section */
.greeting {
    position: absolute;
    top: 13%;
    right: 18%;
}

.greet1 {
    font-size: 33px;
    color: rgb(162, 66, 11);
}

.greet2 {
    font-size: 28px;
}

.greet3 {
    font-size: 50px;
    font-weight:bolder;
    position: relative;
    top: 40px;
    left: 20px;
    transition: all 100ms;
}

.greet3:hover {
    color: rgb(162, 66, 11);
}

.home {
    background-image: url('Images/snow.png');
    filter: brightness(1.15);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.hr1 {
    margin-top: 10px;
    background-color: black;
    border: none;
    height: 2px;
    width: 80%;
    
}

.quote {
    position: absolute;
    top: 13%;
    left: 15%;
    display: flex;
    flex-direction: row;
    transition: 0.4s;
}

.quotes-img {
    width: 20px;
    height: 20px;
    position: relative;
}

.quote-img-start {
    right: 10px;
    bottom: 10px;
}

.quote-img-end {
    left: 10px;
    top: 17px;
}

.quote-text {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 19px; 
}

.quote:hover .quote-text{
    color: rgb(162, 66, 11);
}

.quote:hover {
    transform: scale(1.1);
}


.scroll {
    position: relative;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    transition: all 200ms;
    font-weight: bolder;
}


.scroll:hover {
    transform: scale(1.1);
}

.scroll:hover .scroll-text {
    color: rgb(162, 66, 11);
}

.scroll:hover .hr1 {
    background-color: rgb(162, 66, 11);
}

.eye {
    width: 15px;
    height: 15px;
}

.polar-bear {
    width: 160px;
    height: 100px;
}

.snowman {
    position: absolute;
    left: 70%;
    bottom: 7%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.snowman-img {
    width: auto;
    height: auto;
    max-width: 200px;
    
}


.custom-shape-divider-bottom-1663213249 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1663213249 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 70px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1663213249 .shape-fill {
    fill: #FCF4D7;
    filter: brightness(0.86956521739);
}

/* Carousell section */

/* Carousell and section Related Images */


.carousell {
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(#d9d8d1, #FCF4D7); */
    background-color: #FCF4D7;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousell-div {
    width: 80%;
    height: 50vh;
    flex-direction: row;
}

.car-header {
    letter-spacing: 0.2rem;
}

.car-hr {
    width: 80%;
    background-color: gray;
    height: 2px;
    border: none;
    position: absolute;
    bottom: 10px;
}

.car-text {
    line-height: 2rem;
    text-align: justify;
    padding-right: 20px;
}

.car-text-wrapper {
    max-width: 50%;
    position: relative;
    overflow-y: scroll;
}

.car-elem-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 10%;
}

.f-btn {
    background: none;
    border: none;
    position: absolute;
    right: 30%;
    bottom: 35vh;
    cursor: pointer;
}

/* Animation / Background */


#ball {
    position: absolute;
    right: 7.63%;
    bottom: 130px;
    width: 60px;
    height: 60px;
    animation: ballAnim 1s linear infinite alternate-reverse
}

@keyframes ballAnim {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    25% {
        transform: translateY(-55px) rotate(135deg);
    }
    50% {
        transform: translateY(-105px) rotate(270deg);
    }
    75% {
        transform: translateY(-155px) rotate(405deg);
    }
    100% {
        transform: translateY(-205px) rotate(540deg);
    }

}

.img-bricks {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url('Images/brick.jpg');
    background-repeat: space;
    background-size: 50px 50px;
    height: 50px;
} 

.pipe {
    position: absolute;
    right: 7%;
    bottom: 50px;
    width: 80px;
    height: 120px;
}

.sky-brick {
    position: absolute;
    right: 7.7%;
    bottom: 49.4%;
    width: 60px;
    height: 60px;
}



/* Interests */
#proj-link {
    text-decoration: none;
    color: rgb(162, 66, 11);
}


/* Contact */
.contact-icon {
    width: 20px;
    height: 20px;
}

.icon-ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.resume-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    margin-top: 23px;
}

.resume-hr {
    border: none;
    background-color: black;
    width: 13%;
    height: 1px;
    margin-top: 22px;
}

.resume-text {
    font-size: 16px;
    color: gray;
}

/* Projects */

/* Carousell Navbar */

.active-list {
    background-color: rgb(220, 104, 59);
    color: white;
    box-shadow: 2px 2px #0a3f6863;
}

.default-proj {
    display: flex;
}

.disc-feature-list {
    list-style-type: disc;
    display: list-item;
}

.projects-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 6vh;
}

.projects {
    width: 100%;
    height: 100vh;
    background-color: #FCF4D7;
    position: relative;
    align-items: center;
    display: flex;
}

.project-list {
    width: 220px;
    height: 50vh;
    position: relative;
    left: 11%;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    padding-right: 20px;
}

.project-label {
    width: 100%;
    font-size: 14px;
    margin-bottom: 1rem;
    text-align: left;
    transition: all 200ms;
    padding: 10px;
    border-radius: 10px;
}

.project-label:hover {
    background-color: #105D97;
    color: white;
    box-shadow: 2px 2px #0a3f6863;
}

.project-title {
    margin-bottom: 8px;
}

/* The carousell of projects */
.projects-carousell {
    position: relative;
    left: 15%;
    top: -4%;
    width: 50vw;
    height: 70vh;

}

.project {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
}

.git-link {
    border-radius: 15px;
    width: 300px;
    height: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: black; 
    border-width: 1px;
    border-style: solid;
    border-color: #50C878;
    transition: all 150ms;

}

.git-link:hover {
    background-color: #50C878;
    font-weight: 900;
    border-width: 2px;
    color: white;
    fill: white;
    transform: scale(1.05);
}

.git-icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.proj-heading {
    margin-bottom: 20px;
    /* transform: translateX(-10%); */
}

.proj-content {
    line-height: 2rem;
    width: 90%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-right: 20px;
}


/* Toggle the displays -> temporary */


/* Image Styles */

.code-sc {
    border-radius: 10px;
    width: 500px;
    margin: 20px 10px;
}

.proj-med-image {
    border-radius: 10px;
    width: 280px;
    margin: 20px 10px;
}

.proj-small-image {
    border-radius: 10px;
    width: 400px;
    margin: 20px 10px;
}

.phone-sc {
    border-radius: 40px;
    width: 250px;
    margin: 20px 10px;
}

.wordle-sc {
    border-radius: 15px;
    width: 300px;
    margin: 20px 10px;
}

#discord1 {
    object-fit: cover;
}

#discord2 {
    object-fit: cover;
}

.pi-grp-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.pi-grp-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



